# build
/build/
/CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile
*.user

# Qt Creator/CLion/VSCode
*.pro.user
.idea/
.vscode/
*.qmlc
*.jsc

# Autogen
*_autogen/
*/Pos2_autogen/

# Ninja
/build.ninja
/rules.ninja

# OS
.DS_Store
Thumbs.db

# Local DB copies
/localdb.sqlite
build/**/localdb.sqlite

# Python venvs (на всякий)
.venv/
